<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="clazzBean" class="com.bobosolomon.spring6.beans.Clazz"></bean>

    <bean id="student" class="com.bobosolomon.spring6.beans.Student">
        <property name="clazz" value="bobosolomon">
        </property>
        <property name="clazz.name" value="高三五班"></property>
    </bean>
</beans>